<%= form_for FoodElement.new,  :remote => true do |f| %>
    <span class="small-1 column">
      <label for="connection_name" class="inline right">Connection:</label>
    </span>
    <span class="small-3 column">
      <%= autocomplete_field_tag 'connection_name_field', '', autocomplete_food_element_name_food_elements_path , :size => 75 %>
    </span>
    <span class="small-1 column">
      <label for="connection_strength" class="inline right">Strength:</label>
    </span>
    <span class="small-2 column">
      <%= select_tag "connection_type" , options_for_select(connection_type_list.collect { |c| [c,c] }) %>
    </span>
    <span class="small-1 column">
      <label for="connection_type" class="inline right">Type:</label>
    </span>
    <span class="small-2 column">
      <%= select_tag "type", options_for_select(food_element_type_list.collect { |c| [c,c] }) %>
    </span>
    <span class="small-2 column">
      <%= link_to "Add Connection", add_connection_food_elements_path, remote: :true %>
    </span>
<% end %>
