<div class="row">
  <div class="small-12 column">
    <h3>Edit <%= link_to @food_element.name, food_element_path(@food_element) %></h3>
  </div>
  <%= form_for @food_element.becomes(FoodElement) do |f| %>
    <%= render 'food_element_form_fields', f: f %>
    <div class="small-3 column">
      <%= f.submit 'Update Food Element', class: 'button small' %>
    </div>
  <% end %>
  <div class="small-12 column">
    <h3>Edit <%= @food_element.name %> Connections</h3>
  </div>
  <div class="small-12 column">
    <ul id="connection-list" class="small-block-grid-3">
      <%= render partial: "food_element_connections/edit_connection", collection: @connections, as: :food_element_connection  %>
    </ul>
  </div>
  <div class="small-12 column">
    <h3>Add a new connection</h3> 
  </div>
    
  <span id="add-connection-form"> 
    <%= render 'add_connection', primary_food_element: @food_element %>
  </span>

  <div class="small-12 column">
    <%= link_to "Delete this food element", food_element_path(@food_element), method: :delete, data: { confirm: "Are you sure?" }%>
  </div>

  <div id="edit-connection-modal" class="reveal-modal" data-reveal>
  </div>
</div>
