<div class="row">
<div class="small-11 column"><h3><%= @food_element.name.capitalize %></h3></div>
<div class="small-1 column"><%= link_to "Edit", edit_food_element_path(@food_element) %></div>

<div class="small-12 column">
  <%= indefinite_article @food_element.type %> - <a href="http://en.wikipedia.org/wiki/<%=@wiki_title%>" target="_blank">More info via Wikipedia</a>
</div>
<div class="small-12 column"><h4>Connections</h></div>
<div class="small-12 column">
<ul class="small-block-grid-3">
  <%= render partial: "food_element_connections/connection", collection: @connections, as: :food_element_connection %>
</ul>
</div>
<div class="small-12 column">
  <h4>Other foods that reference <%= @food_element.name %></h4>
</div>
<div class="small-12 column">
  <ul>
  <%= render partial: "food_element_connections/reverse_connection", collection: @reverse_connections, as: :food_element_connection %>
</ul>
</div>
