<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "alert-box #{name} radius" %>
        <% end %>
      <div class="small-12 column">
        <h1 class="app-header">The Food App</h1>
      </div>
      <div class="small-3 column">
        <ul class="sidebar-nav">
          <li><%=  link_to "Home", root_path %></li>
          <li><%= link_to "View food list", food_elements_path %></li>
          <li><%= link_to "Create new food element", new_food_element_path %></li>
          <li><a href="/app/index.html" target="_blank">Create recipes powered by the index</a></li>
        </ul>
      </div>

      <div class="small-9 column">
        <%= yield %>
      </div>

  </body>
</html>
